{% extends "navbar.html" %}
{% block content %}
<br>
<div class="w3-container w3-center"> 
  <div class="form-group">
    <form action="" method="post"  enctype="multipart/form-data" validate> 
      {{form.csrf_token }}
      <label for="tableCharge"> Table to Charge</label>
      {{form.table}}
      {% for error in form.table.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
      <label for="tableCharge"> Customer Email</label>
      {{form.email}}
      {% for error in form.email.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
      <button type="submit" class="btn btn-secondary">Send Bill</button>         
    </form>
    <br>

    <body>
     <table class="table table-striped">
      <thead>
        <tr>
          <th>Order Number</th>
          <th>Employee Id</th>
          <th>Menu Item</th>
          <th>Price</th>
          <th>Table Number</th>
          <th>Bill Status</th>
        </tr>
      </thead>
      <tbody>
        {% for order in orders %}
        <tr>
          <td>{{order.order_num}}</td>
          <td>{{order.employee_id}}</td>
          <td>{{order.item}}</td>
          <td class="currency-usd">{{order.price}}</td>
          <td>{{order.table}}</td>
          <td>{{order.billSent}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <a class="btn btn-warning" href="/clear_order_history" role="button">Clear Order History</a>
      <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
      <script>
      $('.currency-usd').each(function() {
        var monetary_value = $(this).text();
        console.log(monetary_value)
        var i = new Intl.NumberFormat('en-US', {
          style: 'currency',
          currency: 'USD'
        }).format(monetary_value);
         $(this).text(i);
      });
      </script>
      {% endblock %}
