{% extends "base.html" %}

{% block content %}
<!-- RECEIPT INFORMATION -->
<div class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-twothird">
      <br>
      
      <h1>Receipt</h1>
      <p class="w3-text-grey">Itemized Summary of your Bill</p>

      <br>
      
      <table style="width:50%" class="table table-striped">
        <thead>
          <tr>
            <th>Menu Item</th>
            <th>Item Price</th>
          </tr>
        </thead>
        <tbody>
          {% for order in orders %}
          <tr>
            <td>{{order.item}}</td>
            <td>{{order.price}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <h5 class="w3-padding-32">Total Price:${{price}}</h5>
      <h5 class="w3-padding-32">Order Number:{{orders[0].order_num}}</h5>
    </div>


    <!-- PAYMENT INFORMATION -->
    
    <h1>Payment Information</h1>
    <p class="w3-text-grey">Please input card details below</p>
    <form action="" method="post"  enctype="multipart/form-data" novalidate> 

      {{form.csrf_token }}
      <div class="form-row">
        <div class="form-group col-md-8">
          <label for="inputNameOnCard">Name on Card*</label>
          {{ form.name(size=20) }} <br>
          {% for error in form.name.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
<!--
      <label for="inputNameOnCard"></label>
      <input type="name" class="form-control" id="inputEmail4" placeholder="Name on Card">-->
    </div>
    <div class="form-group col-md-8">
      <label for="inputState">Card Type*</label>
      <!-- <select id="inputState" class="form-control">
        <option selected>Card Type</option>
        <option>Credit</option>
        <option>Debit</option>
      </select> -->
      {{form.cardtype}} 
      {% for error in form.cardtype.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </div>

    <div class="form-group col-md-8">
      <label for="cardNumber">Card Number*</label>
      {{form.cardnumber(size=20)}} <!-- can change size to 16 or keep all boxes same size-->
      {% for error in form.cardnumber.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </div>

    <div class="form-row">
      <div class="form-group col-md-8">
        <label for="expirationDate">Expiration Date (XX/XXXX)*</label>
        {{form.card_exp(size=15)}}
        {% for error in form.card_exp.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
        
      </div>
    </div>

    <div class="form-group col-md-8">
      <label for="inputCVV">CVV*</label> <br>
      {{form.card_cvv(size=15)}}
      {% for error in form.card_cvv.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </div>
    

    <div class="form-group col-md-8">
      <label for="inputAddress">Address*</label> <br>
      {{form.address(size=15)}}
      {% for error in form.address.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
      
    </div>

    <!-- CITY STATE ZIP ROW -->
    <div class="form-row">
      <div class="form-group col-md-3">
        <label for="inputCity">City*</label>
        {{form.city(size=8)}}
        {% for error in form.city.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
        
      </div>

      <div class="form-group col-md-3">
        <label for="inputState">State*</label>
        {{form.state(size=8)}} <!-- can change to select option if we have time -->
        {% for error in form.state.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}

      </div>

      <div class="form-group col-md-3">
        <label for="inputZip">Zip Code*</label>
        {{form.zip_code(size=8)}} <!-- can change to select option if we have time -->
        {% for error in form.zip_code.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}

      </div>
    </div>
    <div class="form-group col-md-5">
      <label for="inputTip">Tip for Server</label>
      {{form.tip(size=8)}}
    </div>

    <div>
      <br>
      <button type="submit" class="btn btn-secondary">Checkout</button>
    </form>    
  </div>
</div>
</form>
</div>
{% endblock %}