      {% extends "navbar.html" %}

      {% block content %}

      <body>
        <div class="w3-container w3-center"> 
      	<table class="table table-striped">
          <thead>
            <tr>
              <th>Order Number</th>
              <th>Order Price</th>
              <th>Customer Name</th>
              <th>Card Type</th>
              <th>Server Id</th>
            </tr>
          </thead>
          <tbody>
            {% for payment in payments %}
            <tr>
              <td>{{payment.orderNumber}}</td>
              <td>{{payment.orderPrice}}</td>
              <td>{{payment.name}}</td>
              <td>{{payment.cardtype}}</td>
              <td>{{payment.employee_id}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
         <a class="w3-center btn btn-warning" href="/clear_payment_history" role="button">Clear Payment History</a>
       </div>
    {% endblock %}