{% extends "base.html" %}

{% block content %}

<body>
	<!-- payment-confirmation -->
	<div class="container py-5 h-100">
		<div class="row d-flex justify-content-center align-items-center h-100">
			<p> This Bill Has Already Been Paid <br></p>
			<p> Thank you for using our service </p>
		</div>
	</div>
</div>
</div>
</div>

<footer class="w3-container w3-padding-64 w3-center w3-opacity">  
	<div class="w3-xlarge w3-padding-32">
		TC
		<a href="https://github.com/tannercantlay" target="_blank"><i class="fa fa-github w3-hover-opacity"></i>
			<a href="https://www.linkedin.com/in/tanner-cantlay-408b501a0/?trk=public_profile_browsemap_profile-result-card_result-card_full-click/" target="_blank"><i class="fa fa-linkedin w3-hover-opacity"></i>
			</a>
			|
			SS
			<a href="https://https://github.com/SpencerSkaggs" target="_blank"><i class="fa fa-github w3-hover-opacity"></i>
				<a href="https://www.linkedin.com/in/spencer-skaggs-864698205/" target="_blank"><i class="fa fa-linkedin w3-hover-opacity"></i>
					
				</div>
				<p>Powered by <a href="https://ugahacks.com/" target="_blank">UGA Hackathon</a></p>
			</footer>


			<script>
// Used to toggle the menu on small screens when clicking on the menu button
function myFunction() {
	var x = document.getElementById("navDemo");
	if (x.className.indexOf("w3-show") == -1) {
		x.className += " w3-show";
	} else { 
		x.className = x.className.replace(" w3-show", "");
	}
}
</script>

</body>
{% endblock %}